name: Native Docker Image

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:

  build-native-docker-image:
    name: Build Docker Image of Graal Native Image of the application
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Code
      uses: actions/checkout@v2

    - name: Set up JDK 11
      uses: actions/setup-java@v1
      with:
        java-version: 11

    - name: Run Integration Test to generate Graal Native Config files using Redis Container
      run: |
        docker run --rm -v $PWD:$PWD -w $PWD              \
          -v /var/run/docker.sock:/var/run/docker.sock    \
          springci/spring-graalvm-native:20.3-dev-java11  \
          mvn -Pnative clean test

    - name: Reset target directory permission to current user
      run: sudo chown -R $(id -u):$(id -g) ./target

    - name: Build Graal Native Docker Image with Maven
      run: mvn -Pnative -DskipTests spring-boot:build-image

    - name: Set Image Tag Version
      run: echo "TAG_VERSION=$(mvn help:evaluate -Dexpression=project.version -q -DforceStdout)" >> $GITHUB_ENV

    - name: Tag Image
      run: docker tag rawsanj/spring-redis-websocket:${{ env.TAG_VERSION }}-native rawsanj/spring-redis-websocket:latest

    - name: Login to DockerHub Registry
      run: echo ${{ secrets.DOCKERHUB_PASSWORD }} | docker login -u ${{ secrets.DOCKERHUB_USERNAME }} --password-stdin

    - name: Push Image to DockerHub
      run: docker push rawsanj/spring-redis-websocket:latest && docker push rawsanj/spring-redis-websocket:${imageTagVersion}-native
